.places {
	width: 100%;
	border: 0;
	justify-content: center;
}

.places > h1 {
	font-size: 30px;
	text-align: left;
	vertical-align: top;
}

.places > article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
}

.places > article > h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	color: #FF5A5F;
	border: #FF5A5F 4px solid;
	height: 60px;
	min-width: 60px;
	text-align: right;
	vertical-align: top;
	position: absolute;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.max_guest {
	width: 100px;
}

.guest_img {
	background-image: url("../images/icon_group.png");
	height: 40px;
}

.number_rooms {
	width: 100px;
}

.rooms_img {
	background-image: url("../images/icon_bed.png");
	height: 40px;
}

.number_bathrooms {
	width: 100px;
}

.bathrooms_img {
	background-image: url("../images/icon_bath.png");
	height: 40px;
}
